{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Detalle</title>
<link rel="stylesheet" href="{% static '/css/detalle.css' %}" >
{% endblock extrahead%}

{% block content %} 
<h1 class="display-4" id="title">Detalle Nota</h1>
<a type="button" class="btn btn-success" href="{% url 'productosIndex' %}">Volver</a>

<div class="row">
    <div class="col col-sm">
        
    </div>
    <div class="col col-sm">
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">ID</th>
                <td>{{ Nota.id }}</td>
              </tr>
              <tr>
                <th scope="row">Titulo</th>
                <td>{{ Nota.Titulo }}</td>
              </tr>
              <tr>
                <th scope="row">Nota</th>
                <td>{{ Nota.Nota }}</td>
              </tr>
            </tbody>
          </table>

    </div>

</div>

{% endblock content%}