{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Gestion</title>
{% endblock extrahead%}

{% block content %} 
<h1 class="display-2" id="title">Gestión</h1>
<p>En este menú se pueden gestionar las Notas</p>
<a type="button" class="btn btn-success" href="{% url 'crearNotas' %}">Crear Notas</a>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
        
        
      </tr>
    </thead>
    <tbody>
      {% for Nota in page_obj %}
      <tr>
        <th scope="row">{{ Nota.id }}</th>
        <td>{{ Nota.Titulo|upper}}</td>
        <td>{{ Nota.fecha }}</td>
        <td>
          <a type="button-sm" class="btn btn-sm btn-secondary" href="{% url 'verNotas' Nota.id %}">Ver</a>
          <a type="button-sm" class="btn btn-sm btn-primary" href="{% url 'editarNotas' Nota.id %}">Editar</a>
          <a type="button-sm" class="btn btn-sm btn-danger" href="{% url 'eliminarNotas' Nota.id %}">Borrar</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content%}