{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>VerNota</title>
{% endblock extrahead%}

{% block content %} 
<h1 class="display-3" id="title">Ver nota</h1>
<body>

  <h1>Detalles de la Nota</h1>

  <div>
      <strong>Título:</strong> {{ nota.Titulo }}
  </div>

  <div>
      <strong>Nota:</strong> {{ nota.Nota }}
  </div>

  <div>
      <strong>Fecha:</strong> {{ nota.fecha }}
  </div>

<a href="{% url 'gestionNotas' %}"  class="btn btn-primary" >Volver </a>
{% endblock content%}