{% extends 'base.html' %}

{% block extrahead %} 
<title>home</title>
{% endblock extrahead%}

{% block content %} 
<h1>AppNotas</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Logotipo_Universidad_Industrial_de_Santander_vectores.svg/1280px-Logotipo_Universidad_Industrial_de_Santander_vectores.svg.png" />
<a href="{% url 'gestionNotas' %}"  class="btn btn-primary" >Empezar </a>
<div {% if message.tags == 'warning' %} class="alert alert-warning alert-message"{% else %} class="alert alert-success alert-message" {% endif %}>
    <b class="message-alert">{{ message }}</b>       
</div>
{% endblock content%}